<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\dashboardadmin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Finding Tutors</title>
</head>
<body background="images\bok.jpg">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
    <center><h1 style="margin-top: -50px;">Finding Tutors</h1></center>
    <center><h1>Welcome</h1></center><br>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/dashboardadmin" class="active">Add Subjects</a>
        <a href="/remove">Remove Subjects</a>
        <a href="/noti">Notifications</a>
        <a href="/">Logout</a> 
    </div>
    <div class="container">
        <div class="head">
            <h1>Remove Subjects</h1><br>
            <form method="post" action="/removesub" class="form" name="myForm" autocomplete="off">
                <input type="text" name="sub" placeholder="Subject Name" required> <br><br>
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
        </div>
    </div>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
</body>
</html>